.recommenders/*
*.prx
*.frq
*.prefs
*.fdx
*.fdt
*.ini
.metadata/*
*.log
*.gen
*.properties
*.mark
*.xml
*.dat
*.index
*.tii
*.fnm
*.tis
*.lock
*.xmi
*.snap
*.resources
*.zip
.DS_Store
MSDS6391_Project6/.metadata/.mylyn/.taskListIndex/segments_1
MSDS6391_Project6/.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.h2.db
*.nrm
MSDS6391_Project6/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
MSDS6391_Project6/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
MSDS6391_Project6/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
MSDS6391_Project6/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
MSDS6391_Project6/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
MSDS6391_Project6/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.history
MSDS6391_Project6/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
MSDS6391_Project6/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/.metadata/
/.recommenders/

*.jsdtscope
MSDS6391_Project7/.settings/org.eclipse.wst.common.component
*.container
MSDS6391_Project7/.settings/org.eclipse.wst.jsdt.ui.superType.name
/bin/
