.recommenders/*
*.prx
*.frq
*.prefs
*.fdx
*.fdt
*.ini
.metadata/*
*.log
*.gen
*.properties
*.mark
*.xml
*.dat
*.index
*.tii
*.fnm
*.tis
*.lock
*.xmi
*.snap
*.resources
*.zip
.DS_Store
MSDS6391_Project6/.metadata/
*.nrm
*.history
/.metadata/
/.recommenders/

*.jsdtscope
MSDS6391_Project7/.settings/
*.container
*.component
MSDS6391_Project8/.settings/
*.pyc