@CHARSET "UTF-8";
section{
/* 	width: 80%;
	margin: 0 auto; */
	padding-left: 20px;
}

h3 {
	color: #0000ff;
	font-size: 18px;
	font-weight: bold;
	
}


/* chart styles */

.tick text {
	fill: black;
	font-size: 16px;	
}

.tick line {
	fill: none;
	stroke: black;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: black;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: black;
}

.positive {
		fill: steelblue;
		fill-opacity: 0.9;
}

.negative {
		fill: red;
		fill-opacity: 0.9;
}


/* thermometer styles */

.min {
		fill: steelblue;
		fill-opacity: 0.9;
		font-weight: bold;
}

.max {
		fill: red;
		fill-opacity: 0.9;
		font-weight: bold;
}

.mercury {
	fill: red;
	stroke: red;
	stroke-width: 2px;
}

.tub {
	stroke: black;
	stroke-width: 1px;
	fill: white;
}

/* clock styles */

.sunrise-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #e2de2b
}
.sunset-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #560202
}

.hands-cover{
	stroke-width:3;
	fill:#222;
}
.hour-tick{
	stroke-width:12; 
	stroke: steelblue;
	stroke-linecap:round;
}

/* div block widget styles */
.widget {
fill:#c3c3ef;
stroke: #0000ff;
stroke-width: 5;
opacity: 0.5;
}

.base-widget {
background-color:#f2f2f2;
}

.widget-heading {
	fill: #0000ff;
	font-size: 18px;
	font-weight: bold;
}

.widget-text {
	fill: black;
	font-size: 18px;
}

