@CHARSET "UTF-8";
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
header, footer {
	width: 100%;
	position: fixed;
	background: #8080ff;
	padding: 10px 0;
	color: #400040;
	display: block;
}
header{
	top: 0;
}
footer{
	bottom: 0;
}
section{
	width: 80%;
	margin: 0 auto;
}
nav a{
	color: #400040;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
h3 {
	color: #0000ff;
	
}
img.resize {
	max-width: 75%;
	max-height:75%
}

img.resize-small {
	max-width: 50%;
	max-height:50%
}
table, tr, td {
	border: 1px solid black;
	width: 200px;
}

tr, td {
	text-align: left;
	padding: 8px;
	width: 100px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #4CAF50;
	color: white;
}

.leftpane{
    width: 15%;
    min-width: 250px;
    height: available;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
}

.middlepane{
   width: 10%;
   min-width: 160px;
   height: 55%;
   min-height: 400px;
   float: left;
/*    background-color: #ff8000; */
   border-collapse: collapse;
}

.rightpane{
    width: available;
    height: 55%;
    position: relative;
    margin-left: 50%;
    border-collapse: collapse;
}
.bottompane {
	width: available;
    height: 45%;
    float: left;
    bottom: 60px
    border-collapse: collapse;

}
canvas {
	margin: 0;
    padding-left: 20px;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.hour-hand{
	stroke-width:12;
	stroke-linecap:round;
}
.sunrise-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #e2de2b
}
.sunset-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #560202
}

.hands-cover{
	stroke-width:3;
	fill:#222;
}
.hour-tick{
	stroke-width:12; 
	stroke: #091a9c;
	stroke-linecap:round;
}

.hour-label{
	font-size: 24px;
}

/* div block widget styles */
.widget {
fill:#c3c3ef;
border: 1px dashed black;
}
