@CHARSET "UTF-8";
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
header, footer {
	width: 100%;
	position: fixed;
	background: #8080ff;
	padding: 10px 0;
	color: #400040;
	display: block;
}
header{
	top: 0;
}
footer{
	bottom: 0;
}
section{
	width: 80%;
	margin: 0 auto;
}
nav a{
	color: #400040;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
h3 {
	color: #0000ff;
	
}


/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.hour-hand{
	stroke-width:12;
	stroke-linecap:round;
}
.sunrise-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #e2de2b
}
.sunset-hour-hand{
	stroke-width:12;
	stroke-linecap:round;
	stroke: #560202
}

.hands-cover{
	stroke-width:3;
	fill:#222;
}
.hour-tick{
	stroke-width:12; 
	stroke: #091a9c;
	stroke-linecap:round;
}

.hour-label{
	font-size: 24px;
}

/* div block widget styles */
.widget {
fill:#c3c3ef;
stroke: #0000ff;
stroke-width: 5;
opacity: 0.5;
}

.widget1 {
background-color:#f2f2f2;
}

.widget-heading {
	fill: #0000ff;
	font-size: 18px;
	font-weight: bold;
}