@CHARSET "UTF-8";
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
header, footer {
	width: 100%;
	position: fixed;
	background: #8080ff;
	padding: 10px 0;
	color: #400040;
	display: block;
}
header{
	top: 0;
}
footer{
	bottom: 0;
}
section{
	width: 80%;
	margin: 0 auto;
}
nav a{
	color: #400040;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
h3 {
	color: #0000ff;
	
}
img.resize {
	max-width: 75%;
	max-height:75%
}

img.resize-small {
	max-width: 50%;
	max-height:50%
}
table, tr, td {
	border: 1px solid black;
	width: 200px;
}

tr, td {
	text-align: left;
	padding: 8px;
	width: 100px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #4CAF50;
	color: white;
}

.leftpane{
    width: 15%;
    min-width: 250px;
    height: available;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
}

.middlepane{
   width: 10%;
   min-width: 160px;
   height: available;
   min-height: 400px;
   float: left;
   background-color: #ff8000;
   border-collapse: collapse;
}

.rightpane{
    width: available;
    height: available;
    position: relative;
    margin-left: 50%;
    border-collapse: collapse;
}
canvas {
	margin: 0;
    padding-left: 20px;
}
